/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
/* Variables */
/* Utility Classes (extend) */
.center-all, .menu__pill__column .pill__icon, .header__search, label .Hearts .Heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .menu__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .menu__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Mixin */
.mp1 {
  animation: appear 1s ease 0s forwards;
}

.mp2 {
  animation: appear 1s ease 0.1s forwards;
}

.mp3 {
  animation: appear 1s ease 0.2s forwards;
}

.mp4 {
  animation: appear 1s ease 0.3s forwards;
}

.mp5 {
  animation: appear 1s ease 0.4s forwards;
}

.mp6 {
  animation: appear 1s ease 0.5s forwards;
}

.mp7 {
  animation: appear 1s ease 0.6s forwards;
}

.mp8 {
  animation: appear 1s ease 0.7s forwards;
}

.mp9 {
  animation: appear 1s ease 0.8s forwards;
}

.mp10 {
  animation: appear 1s ease 0.9s forwards;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
/* Mixin */
.mp1 {
  animation: appear 1s ease 0s forwards;
}

.mp2 {
  animation: appear 1s ease 0.1s forwards;
}

.mp3 {
  animation: appear 1s ease 0.2s forwards;
}

.mp4 {
  animation: appear 1s ease 0.3s forwards;
}

.mp5 {
  animation: appear 1s ease 0.4s forwards;
}

.mp6 {
  animation: appear 1s ease 0.5s forwards;
}

.mp7 {
  animation: appear 1s ease 0.6s forwards;
}

.mp8 {
  animation: appear 1s ease 0.7s forwards;
}

.mp9 {
  animation: appear 1s ease 0.8s forwards;
}

.mp10 {
  animation: appear 1s ease 0.9s forwards;
}

/* Utility Classes (extend) */
.center-all, .menu__pill__column .pill__icon, .header__search, label .Hearts .Heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .menu__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .menu__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
/* 2 - Media Queries - Menu page */
@media screen and (min-width: 460px) {
  .main__title {
    max-width: 600px;
    margin: auto;
  }
  .main__img {
    width: min(700px, 100%);
    max-height: 467px;
    margin: auto;
    border-radius: 20px;
  }
  .main__img--big {
    object-fit: cover;
  }

  .information h2,
.Restaurants h2 {
    text-align: center;
  }

  .Restaurants .Restaurants__Card,
.information .information__pill {
    max-width: 425px;
    margin: 2rem auto;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__pill {
    width: 428px;
  }

  .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .main {
    display: flex;
    width: 100%;
  }
  .main__wrapper {
    width: 40%;
  }
  .main .Restaurants {
    width: 60%;
    max-height: 700px;
    overflow: auto;
    scrollbar-width: thin;
  }
  .main__top {
    display: flex;
    align-self: flex-start;
    width: 50%;
    padding: 0 1rem;
    margin: auto;
  }

  .menu {
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

section {
  padding: 2rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  color: #9356DC;
}

label {
  cursor: pointer;
}

label input {
  display: none;
}
label .Hearts {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
}
label .Hearts .Heart {
  height: 24px;
  width: 24px;
}
label .Hearts .Heart--empty {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(1) scaleX(1);
  transition: transform 0.4s ease;
}
label .Hearts .Heart--full {
  background: linear-gradient(180deg, #9356DC, #FF76DA);
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0) scaleX(0);
  transform-origin: center center;
  transition: transform 0.4s ease;
}
label input:checked + .Hearts .Heart--empty {
  transform: scaleY(0) scaleX(0);
}
label input:checked + .Hearts .Heart--full {
  transform: scaleY(1) scaleX(1);
  transform-origin: center center;
}

.header {
  background: #EAEAEA;
}
.header__img {
  background: #FFF;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}
.header__logo {
  width: min(60%, 300px);
  margin: auto;
  padding: 1rem;
}
.header__icon {
  color: #6A6A6A;
}
.header__input {
  background: transparent;
  border: none;
  margin-left: auto;
  width: 60%;
  padding: 12px;
}
.header__input[placeholder] {
  font-weight: bold;
}
.header__input:focus {
  outline: none;
}

.Menu__header {
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}
.Menu__header form {
  width: 0;
}
.Menu__header .header__button {
  transform: translateX(2rem);
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.Footer {
  background: #353535;
  padding: 2rem 1rem;
  text-align: left;
  color: #FFF;
}
.Footer__Title {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
}
.Footer__Link {
  line-height: 2;
}
.Footer__icon {
  width: 24px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
    1 - Menu page
    2 - Media Queries - Menu page
*/
/* 1- Menu page */
.main {
  background: #F6F6F6;
}
.main__top {
  position: relative;
}
.main__title {
  margin: 0 auto;
  background: #F6F6F6;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

.menu {
  padding-top: calc(70px + 2rem);
  margin: 0 auto;
}
.menu label {
  display: block;
  margin-bottom: 1rem;
}
.menu > * {
  margin-bottom: 1.4rem;
}
.menu__button {
  padding: 1.2em 2.4em;
}
.menu__title {
  text-align: left;
  font-weight: normal;
  position: relative;
  margin: 2rem 1rem;
  font-size: 1.4rem;
}
.menu__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 3.6rem;
  height: 0.3rem;
  background: #99E2D0;
}
.menu__pill {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  border-radius: 20px;
  overflow: hidden;
  max-height: 70px;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
}
.menu__pill input[type=radio]:checked + .pill__icon {
  width: 60px;
}
.menu__pill input[type=radio]:checked + .pill__icon i {
  animation: spin 0.3s linear forwards;
}
.menu__pill__column {
  min-width: 0;
}
.menu__pill__column:last-child {
  display: flex;
  flex-shrink: 0;
}
.menu__pill__column .pill__title, .menu__pill__column .pill__description {
  text-align: left;
  padding: 0.6rem;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__pill__column .pill__title {
  padding-bottom: 0.2rem;
}
.menu__pill__column .pill__description {
  padding-top: 0.2rem;
}
.menu__pill__column .pill__price {
  align-self: flex-end;
  font-weight: bold;
  padding: 0.6rem;
  padding-right: 1rem;
}
.menu__pill__column .pill__icon {
  color: #FFF;
  background: #99E2D0;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

/*# sourceMappingURL=stylemenu.css.map */
