/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
/* Variables */
/* Utility Classes (extend) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
.center-all, .Restaurants__Card--new::before, .information .pill--3::before, .information .pill--2::before, .information .pill--1::before, .information__pill .pill__icon, .Loader, .header__search, label .Hearts .Heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .hero__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .hero__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
/* Fonts */
/* Variables */
/* Utility Classes (extend) */
.center-all, .Restaurants__Card--new::before, .information .pill--3::before, .information .pill--2::before, .information .pill--1::before, .information__pill .pill__icon, .Loader, .header__search, label .Hearts .Heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .hero__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .hero__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

section {
  padding: 2rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  color: #9356DC;
}

label {
  cursor: pointer;
}

label input {
  display: none;
}
label .Hearts {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
}
label .Hearts .Heart {
  height: 24px;
  width: 24px;
}
label .Hearts .Heart--empty {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(1) scaleX(1);
  transition: transform 0.4s ease;
}
label .Hearts .Heart--full {
  background: linear-gradient(180deg, #9356DC, #FF76DA);
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
  transform: scaleY(0) scaleX(0);
  transform-origin: center center;
}
label input:checked + .Hearts .Heart--empty {
  transform: scaleY(0) scaleX(0);
}
label input:checked + .Hearts .Heart--full {
  transform: scaleY(1) scaleX(1);
  transform-origin: center center;
}

/* Fonts */
/* Variables */
/* Utility Classes (extend) */
.center-all, .Restaurants__Card--new::before, .information .pill--3::before, .information .pill--2::before, .information .pill--1::before, .information__pill .pill__icon, .Loader, .header__search, label .Hearts .Heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .hero__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .hero__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
.header {
  background: #EAEAEA;
}
.header__img {
  background: #FFF;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}
.header__logo {
  width: min(60%, 300px);
  margin: auto;
  padding: 1rem;
}
.header__icon {
  color: #6A6A6A;
}
.header__input {
  background: transparent;
  border: none;
  margin-left: auto;
  width: 60%;
  padding: 12px;
}
.header__input[placeholder] {
  font-weight: bold;
}
.header__input:focus {
  outline: none;
}

.Menu__header {
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}
.Menu__header .header__button {
  transform: translateX(2rem);
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Fonts */
/* Variables */
/* Utility Classes (extend) */
.center-all, .Restaurants__Card--new::before, .information .pill--3::before, .information .pill--2::before, .information .pill--1::before, .information__pill .pill__icon, .Loader, label .Hearts .Heart, .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .hero__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .hero__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
.Footer {
  background: #353535;
  padding: 2rem 1rem;
  text-align: left;
  color: #FFF;
}
.Footer__Title {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
}
.Footer__Link {
  line-height: 2;
}
.Footer__icon {
  width: 24px;
}

/* Fonts */
/* Variables */
/* Utility Classes (extend) */
.center-all, .Restaurants__Card--new::before, .information .pill--3::before, .information .pill--2::before, .information .pill--1::before, .information__pill .pill__icon, .Loader, label .Hearts .Heart, .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--style, .hero__button {
  margin: 1rem auto;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(-10deg, #9356DC, #FF76DA);
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: filter ease 0.5s, box-shadow ease 0.5s;
}
.button--style:hover, .hero__button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(120vw) scaleX(0);
    opacity: 0;
  }
}
@keyframes loader {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}
body {
  overflow-y: hidden;
  animation: loader 0.1s forwards 2.4s;
}

.Loader {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #F6F6F6;
  position: absolute;
  z-index: 1;
  animation: disappear 1s ease 2.5s forwards;
}
.Loader__wrapper {
  animation: appear 1s ease;
}
.Loader__text {
  padding: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  background: linear-gradient(45deg, #9356DC, #FF76DA);
  background-clip: text;
  color: transparent;
}
.Loader__circle {
  margin: auto;
  height: 100px;
  width: 100px;
  border: solid 15px #EAEAEA;
  border-top: solid 15px #FF76DA;
  border-radius: 50%;
  animation: spin 1s linear 3;
}

.hero {
  background: #F6F6F6;
}
.hero__title {
  margin: 10px auto;
  max-width: 70%;
}
.hero__description {
  margin: 10px auto;
}
.hero__button {
  padding: 0.8em 1.6em;
}

.information__pill:last-child {
  background: #F5EDFF;
}
.information__pill:last-child .pill__icon {
  color: #9356DC;
}
.information__title {
  text-align: left;
  margin: 1rem 0;
}
.information__pill {
  display: flex;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 1.4rem 2rem;
  margin: 2rem 1rem;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  position: relative;
}
.information__pill .pill__icon {
  width: 30px;
  margin-right: 1rem;
}
.information__pill .pill__description {
  margin-right: auto;
}
.information .pill--1::before {
  content: "1";
  position: absolute;
  left: -10px;
  top: 35%;
  width: 20px;
  height: 20px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 50%;
  background: #9356DC;
  color: #FFF;
}
.information .pill--2::before {
  content: "2";
  position: absolute;
  left: -10px;
  top: 35%;
  width: 20px;
  height: 20px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 50%;
  background: #9356DC;
  color: #FFF;
}
.information .pill--3::before {
  content: "3";
  position: absolute;
  left: -10px;
  top: 35%;
  width: 20px;
  height: 20px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 50%;
  background: #9356DC;
  color: #FFF;
}

.Restaurants {
  background: #F6F6F6;
}
.Restaurants__title {
  text-align: left;
}
.Restaurants__Card {
  border-radius: 20px;
  overflow: hidden;
  margin: 2rem 0;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
}
.Restaurants__Card a {
  display: block;
}
.Restaurants__Card a:hover .Card__title {
  color: #9356DC;
}
.Restaurants__Card a:hover + .Card__content .Card__title {
  color: #9356DC;
}
.Restaurants__Card--new {
  position: relative;
}
.Restaurants__Card--new::before {
  content: "Nouveau";
  position: absolute;
  top: 5%;
  right: 5%;
  width: 80px;
  height: 30px;
  background: #99E2D0;
  color: #189576;
  font-weight: bold;
}
.Restaurants .Card__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}
.Restaurants .Card__img--big {
  object-position: center -170px;
}
.Restaurants .Card__content {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

/* Media Queries */
@media screen and (min-width: 460px) {
  .information h2,
.Restaurants h2 {
    text-align: center;
  }

  .Restaurants .Restaurants__Card,
.information .information__pill {
    max-width: 425px;
    margin: 2rem auto;
  }

  .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-flow: row wrap;
  }
  body header, body footer {
    width: 100%;
  }
  body .main {
    display: flex;
    width: 100%;
  }
  body .main__wrapper {
    width: 40%;
  }
  body .main .Restaurants {
    width: 60%;
    max-height: 700px;
    overflow: auto;
    scrollbar-width: thin;
  }
}

/*# sourceMappingURL=style.css.map */
