/* Mixin */

@mixin pop($time) {
    animation: appear 1s ease $time forwards;
}

@for $i from 0 through 9 {
    .mp#{$i+1} {
        @include pop(#{$i*0.1+"s"});
    }
}

/* Utility Classes (extend) */

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--style {
    margin: 1rem auto;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: $white;
    background: linear-gradient(-10deg, $primary-color, $secondary-color);
    box-shadow: $shadow-button-light;
    cursor: pointer;
    transition: filter ease 0.5s, box-shadow ease 0.5s;

    &:hover {
        filter: brightness(110%);
        box-shadow: $shadow-button-dark;
    }
}