@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF76DA;
$tertiary-color: #99E2D0;

$grey-dark: #EAEAEA;
$grey-light: #F6F6F6;
$primary-color-light: #F5EDFF;
$tertiary-dark: #189576;

$white: #FFF;
$black: #000;


$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;