@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF76DA;
$tertiary-color: #99E2D0;

$grey-dark: #EAEAEA;
$grey-light: #F6F6F6;
$primary-color-light: #F5EDFF;
$tertiary-dark: #189576;

$white: #FFF;
$black: #000;
$black-light: #353535;

$shadow-small: 1px 0 10px 1px rgba(0,0,0,0.1);
$shadow-big: 2px 2px 10px 3px rgba(0,0,0,0.1);

$shadow-button-light: 0 2px 8px 3px rgba(0,0,0,0.2);
$shadow-button-dark: 0 4px 10px 5px rgba(0, 0, 0, 0.3);


$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}