body {
    font-family: $font-text;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

section {
    padding: 2rem 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

li a:hover {
    color: $primary-color;
}

label {
    cursor: pointer;
}

label {

    input {
        display: none;
    }

    .Hearts {
        display: inline-block;
        position: relative;
        height:24px;
        width: 24px;

        .Heart{
            height:24px;
            width: 24px;
            @extend .center-all;
    
            &--empty {
                position: absolute;
                top:0;
                left:0;
                transform: scaleY(1) scaleX(1);
                transition: transform 0.4s ease;
            }
            &--full {
                background: linear-gradient(180deg, $primary-color, $secondary-color);
                background-clip: text;
                color: transparent;
                position: absolute;
                top:0;
                left:0;
                transform: scaleY(0) scaleX(0);
                transform-origin: center center;
                transition: transform 0.4s ease;
            }
        }
    
    }

    input:checked + .Hearts {
        & .Heart--empty {
            transform: scaleY(0) scaleX(0);
        }
        & .Heart--full {
            transform: scaleY(1) scaleX(1);
            transform-origin: center center;
        }
    }


}