body {
    overflow-y: hidden;
    animation: loader 0.1s forwards 2.4s;
}

.Loader {
    @extend .center-all;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: $grey-light;
    overflow: hidden;
    animation: disappear 1s ease 2.5s forwards;

    &__wrapper {
        animation: appear 1s ease;
    }

    &__text {
        padding: 2rem;
        font-weight: bold;
        font-size: 1.4rem;
        background: linear-gradient(45deg, $primary-color, $secondary-color);
        background-clip: text;
        color: transparent;
    }

    &__circle {
        margin: auto;
        height:100px;
        width: 100px;
        border: solid 15px $grey-dark;
        border-top: solid 15px $secondary-color;
        border-radius: 50%;
        animation:spin 1s linear 3;
    }
}

.hero {
    background: $grey-light;

    &__title {
        margin: 10px auto;
        max-width: 70%;
    }

    &__description {
        margin: 10px auto;
    }

    &__button {
        padding: 0.8em 1.6em;
        @extend .button--style;
    }
}

.information {

    &__pill:last-child {
        background: $primary-color-light;

        .pill__icon {
            color: $primary-color
        }
    }

    &__title {
        text-align: left;
        margin: 1rem 0;
    }

    &__pill {
        display: flex;
        background: $grey-light;
        border-radius: 20px;
        padding: 1.4rem 2rem;
        margin: 2rem 1rem;
        box-shadow: $shadow-big;
        font-weight: bold;
        position: relative;

        .pill {
            &__icon {
                @extend .center-all;
                width: 30px;
                margin-right: 1rem;
            }

            &__description {
                margin-right: auto;
            }
        }
    }

    .pill--1::before {
        @extend .center-all;
        content: "1";
        position: absolute;
        left: -10px;
        top: 35%;
        width: 20px;
        height: 20px;
        font-weight: normal;
        font-size: 13px;
        border-radius: 50%;
        background: $primary-color;
        color: $white;
    }

    .pill--2::before {
        @extend .center-all;
        content: "2";
        position: absolute;
        left: -10px;
        top: 35%;
        width: 20px;
        height: 20px;
        font-weight: normal;
        font-size: 13px;
        border-radius: 50%;
        background: $primary-color;
        color: $white;
    }

    .pill--3::before {
        @extend .center-all;
        content: "3";
        position: absolute;
        left: -10px;
        top: 35%;
        width: 20px;
        height: 20px;
        font-weight: normal;
        font-size: 13px;
        border-radius: 50%;
        background: $primary-color;
        color: $white;
    }

}

.Restaurants {
    background: $grey-light;

    &__title {
        text-align: left;
    }

    &__Card {
        border-radius: 20px;
        overflow: hidden;
        margin: 2rem 0;
        box-shadow: $shadow-big;

        a {
            display: block;
        }

        a:hover {
            .Card__title {
                color: $primary-color;
            }
    
            & + .Card__content {
                .Card__title {
                    color: $primary-color;  
                }
            }
        }

        &--new {
            position: relative;

            &::before {
                content: "Nouveau";
                @extend .center-all;
                position: absolute;
                top: 5%;
                right: 5%;
                width: 80px;
                height:30px;
                background: $tertiary-color;
                color: $tertiary-dark;
                font-weight: bold;
            }
        }
    }

    .Card {
        &__img {
            max-height: 180px;
            width: 100%;
            object-fit: cover;
            object-position: center bottom;
        }

        &__img--big {
            object-position: center -170px;
        }

        &__content {
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .6rem 1rem;
        }
    }
}